*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    background-color: #222;
}

:root{
    --main-color: #cf3e30;
}

.container{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.form-group{
    position:relative;
    width: 380px;
    padding: 55px 15px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

.title{
    margin-bottom: 20px;
    color: #333;
}


.form{
    padding: 0 20px;
}

input{
    width: 100%;
    height: 43px;
    margin-bottom: 10px;
    padding: 5px 25px;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 35px;
    -webkit-border-radius:35px;
    -moz-border-radius:35px;
    -ms-border-radius:35px;
    -o-border-radius:35px;
}

input:focus{
    border: 1px solid rgba(0, 0, 0, .3);
}

input::placeholder{
    font-weight: 200;
    color: rgba(107, 107, 107, 0.9);
}


.btn-submit{
    height: 45px;
    margin: 10px 0 10px 0;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    background-color: var(--main-color);
    cursor: pointer;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -ms-transition: background-color .5s;
    -o-transition: background-color .5s;
}

.btn-submit:hover{
  background-color: #a52d22; 
}


.subtext{
    margin-top: 15px;
    font-size: .8rem;
    color: #333;
}

.form--link{
    color: var(--main-color);
}

.form--link:visited{
    color: var(--main-color);
}

.content-div{
    position: relative;
    width: 600px;
    height: 450px;
    padding: 55px;
    text-align: center;
    background-color: #fff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

.text{
    margin-bottom: 15px;
    text-align: left;
    color: #333;
}

.image{
    display: block;
}

.error{
    margin: 5px 0 10px 0;
}

.error li{
    margin-left: 8px;
    text-align: left;
    font-size: .8rem;
    color: #333;
    list-style-type: disc;
}

.logout-div{
    position: absolute;
    top: -30px;
    right: 0;
    width: 120px;
    height: 70px;
    padding-top: 8px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.logout-link{
    font-size: .9rem;
    font-weight: 500;
    color: #333;
}

.logout-link:visited{
    font-size: .9rem;
    font-weight: 500;
    color: #333;
}