.forget{
    padding: 55px 15px 55px 15px;
    background-color: rebeccapurple;

    .forget__title{
        position: relative;
        display: inline-block;
        margin-bottom: 25px;
        font-size: 1.7rem;
    
        &::after{
            position: absolute;
            display: block;
            content: '';
            left: 8px;
            bottom: -10px;
            width: 45px;
            height: 5px;
            background-color: $main-color;
        }
    }

    .forget__text{
        width: 310px;
        margin: 0 auto 20px auto;
        text-align: left;
        font-size: .9rem;
    }
    
    .btn-forget{
        font-size: .8rem;

    }
}