.newpass{
    padding: 55px 15px 55px 15px; 

    .newpass__title{
        margin-bottom: 15px;
        font-size: 1.9rem;
    }

    .newpass__text{
        width: 300px;
        margin: 0 auto 20px auto;
        font-size: .9rem;
        text-align: left;
    }

}