@import 'config';
@import 'btn';
@import 'utils';

@import 'inputs';
@import 'forget';
@import 'newpass';
@import 'forgetotp';
@import 'login';
@import 'error';
@import 'content';

body{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #333;
    background-color: #222;
}

.container{
    width: 100%;
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;

    .sign-up{
        padding: 55px 15px 55px 15px;
    }

    .form-div{
        position:relative;
        width: 380px;
        text-align: center;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);

        .sign-up__title{
            margin-bottom: 20px;
            color: #333; 
        }

        .form{
            padding: 0 20px;

            .input{
                @include btnStruc();
                padding: 5px 25px 5px 48px;

                &:focus{
                    border: 1px solid rgba(0, 0, 0, .3);
                }
                
                &::placeholder{
                    font-weight: 200;
                    color: rgba(107, 107, 107, 0.9);
                }
            }


            .sc-error{
                ul{
                    li{
                        margin: 0px 0 50px 0;
                        
                    }
                }
            }

            .error{
                margin: 5px 0 10px 0;
              
                ul{
                    margin-left: 20px;
                    li{
                        text-align: left;
                        font-size: .8rem;
                        color: #333;
                        list-style-type: disc;
                    }
                }
            }

            .text-form{
                font-size: .8rem;
                margin-top: 10px;
            }

            .have-account{
                margin-top: 20px;
                color: #333;

                a{
                    color: $main-color;
                
                    &:hover{
                        font-weight: 500;
                        text-decoration: underline;
                    }
                    
                    &:visited{
                        color: $main-color;
                    }
                }
            }
        }
    }
}